@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTSans-Regular.eot');
    src: url('fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTSans-Regular.woff2') format('woff2'),
         url('fonts/PTSans-Regular.woff') format('woff'),
         url('fonts/PTSans-Regular.ttf')  format('truetype'),
         url('fonts/PTSans-Regular.svg#PT Sans') format('svg');
}